<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我是测试的邮件通知</title>
    <style>
        /* <%include file="bootstrap.min.css" /> */
    </style>
</head>
<body>
    <h1>我是邮件的内容</h1>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="card col">今日新增{{today_add_count}}</div>
            <div class="card col">可用节点数{{rss_enable_count}}</div>
            <div class="card col">总计{{rss_all_count}}</div>
        </div>
    </div>
</body>
</html>